@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color: rgb(34, 94, 103);
  --secondary-color: #708090;
  --main-light-color: #fffaf0;
  --main-dark-color: #191970;
  --second-dark-color: #228b22;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #191970;
  background-color: var(--primary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #191970;
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  line-height: 1.6;
  margin: 12px 0;
  color: var(--main-light-color);

}

h3 {
  font-weight: 700;
  line-height: 1.5;
  margin: 10px 0;
}

p {
  font-weight: 200;
  margin: 12px 0;
}

img {
  width: 40%;
}



/*header*/
.flex-vertical-center {
  text-align: center;
  margin-top: 50px;
  color: var(--main-light-color);
  background-color: var(--primary-color);
}

/*navbar*/
.navbar {
  background-color: var(--primary-color);
}

.navbar ul {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  margin-top: 10px;
}

.navbar a {
  color: hsl(120, 100%, 80%);
  padding: 8px;
  margin: 0px 2px 0px 2px;
}

.navbar a:hover {
  border: 2px hsl(120, 100%, 80%) solid;
}

/*about*/
.about {
  height: 400px;
  color: var(--main-light-color);
  position: relative;
}

.about-text {
  margin-top: 270px;
  display: grid;
  text-align: bottom;
}

.about h2 {
  margin-top: -50px;
}

.about p {
  margin-top: 30px;
}

/*skills*/
.container-3 {
    background-color: var(--secondary-color);
    box-sizing: border-box;
    width: 100%;
}

.grid-4 > *:nth-child(3) {
  grid-column: 1 / span 2;
}

.skills .card-3:hover {
  border: 0.2px solid;
  transform: translateY(4px);
  transition: transform 0.5s ease-in;
}

/*experiences*/

.experiences ul {
  list-style-type: disc;
}

.experiences p {
  margin: 1.5rem 0;
}

/*testimonials*/
.right {
  text-align: right;
  font-style: italic;
  font-size: 18px;
  margin-top: -20px;
}

/*footer*/
footer {
  background-color: var(--secondary-color);
}

footer ul a:hover {
  border-bottom: 1.5px var(--main-dark-color) solid;
}

.social a {
  margin: 0 8px;
}

.card-5 {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  border-radius: 2px 2px;
  padding: 10px;
  margin: 15px;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.7);
}

.footer-form h2 {
  color: var(--main-dark-color);
}

.footer-form .formcontrol {
  margin: 20px 0;
}

.footer-form input[type='email'] {
  border: 0;
  border-bottom: 0.5px solid var(--main-dark-color);
  width: 100%;
  padding: 4px;
  font-size: 1rem;
}

.footer-form input:focus {
  outline: none;
}

.social p {
  font-weight: bold;
}
